#syllabus {
  height: 80vh;
}

#review-left-col {
  margin-left: 5%;
}

.instructor-button {
  margin-bottom: 10px !important;
}

.review-category-heading {
  display: inline;
}

.ui.small.circular.image {
  height: 50px;
  width: 50px;
}

.message-div {
  margin-bottom: 10px;
  display: none;
}

/* smartphone to low-res tablet/landscape mobile */
@media (min-width: 320px) and (max-width: 767px) {

  .header-btn {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }

  #review-column {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  /* #review-meta {
    margin-top: 1vh !important
  } */
}
