tr.selectable {
  cursor: pointer;
}

.ui.container {
  margin-top: 5vh;
}

.main {
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
}

.footer {
  background-color: #1b1c1d;
  position: absolute;
  margin-top: 0vh;
  left: 0;
  width: 100%;
  padding: 15px 0;
}
