{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SchulichGO {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SchulichGO enables students to rate and discover all undergraduate and graduate courses, in addition to uploading/viewing course syllabuses.">
    <meta property="og:title" content="SchulichGO">
    <meta property="og:site_name" content="SchulichGO">
    <meta property="og:image" content="{% static 'img/socialmedia.jpg' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
  </head>
  <body>
    <div class="main">
    {% include './navbar.html' %}

    {% block content %}

    {% endblock content %}
    </div>

    <div class="spacer" style="height: 50px;">

    </div>

    <div class="footer">
    {% include './footer.html' %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </body>
</html>
