{% extends 'base.html' %}

{% block title %}- Feedback{% endblock title %}

{% block content %}

<div class="ui container">
  <h2>Send Feedback</h2>

  <!-- <form action="feedback" method="post">
    {% csrf_token %}
    <div class="ui form">
      {{ form }}
    </div>
    <button class="ui primary button feedback-button" type="submit">
    Submit
    </button>
  </form> -->

  <form method="POST" class="ui form">
    {% csrf_token %}
    <textarea name="comment" cols="40" rows="10" required="" id="id_comment" placeholder="Encountered a bug? Have an idea for a new feature? Tell us so we can make the SchulichGO experience better." style="height: 40vh;"></textarea>
    <button class="ui button" type="submit" style="margin-top: 10px;">Submit</button>
  </form>

</div>

{% endblock %}
