<div class="ui inverted vertical footer segment">
  <div class="ui container" style="margin-top: 1vh; margin-bottom: 1vh;">
    <div class="ui stackable inverted grid">
      <div class="eight wide column">
        <h4 class="ui inverted header">Links</h4>
        <div class="ui inverted link list">
          <a href="{% url 'feedback' %}" class="item">Give Feedback</a>
          <a href="mailto:info@schulichgo.com" class="item">Contact Us</a>
          <a href="{% url 'privacy_policy' %}" class="item">Privacy Policy</a>
          <a href="{% url 'terms' %}" class="item">Terms of Service</a>
        </div>
      </div>
      <div class="eight wide column">
        <h4 class="ui inverted header">SchulichGO</h4>
        <p style="color: rgba(255,255,255,.5)">SchulichGO is not associated with the Schulich School of Business or York University.</p>
      </div>
    </div>
  </div>
</div>
