{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="ui secondary pointing menu stackable">
  <div class="item">
    <a class="item header">SchulichGO</a>
  </div>
  <div class="item">
    <form method="GET" action="{% url 'search' %}" class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" name="q" value="{{ request.GET.get.q }}"placeholder="Search courses...">
        <i class="search icon" type="submit"></i>
      </div>
      <!-- <div class="ui icon input">
        <input class="prompt" type="text" name="q" value="{{ request.GET.get.q }}"placeholder="Search courses...">
        <i class="search icon"></i>
        <button type="submit"></button>
      </div> -->
      <div class="results"></div>
    </form>
  </div>
  <div class="right menu">
    <div class="item">
      <a class="item">Courses</a>
    </div>
    <div class="item">
      <a class="item">Resources</a>
    </div>
    <div class="item">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="item">Logout</a>
      {% else %}
        <a href="{% url 'login' %}?next={{request.get_full_path}}" class="item">Login</a>
      {% endif %}
    </div>
  </div>

	<div class="hamburger ">
	    <span class="hamburger-bun"></span>
	    <span class="hamburger-patty"></span>
	    <span class="hamburger-bun"></span>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
