{% extends 'base.html' %}

{% block title %}- Resources{% endblock title %}

{% block content %}
  <style>
    .item {
      margin-top: 10px;
    }
  </style>

  <div class="ui container">
    <h2>Schulich Resources</h2>

    <div class="ui list">

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://athena.schulich.yorku.ca/Applications/SchulichRoomBooking.nsf/BookingForm?OpenForm" class="header" target="_blank">Breakout Room Booking</a>
          <div class="description">Portal to book breakout rooms at both Schulich buildings. You can typically book a room two days prior to when you actually need to use the room.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://schulich.instructure.com" class="header" target="_blank">Canvas</a>
          <div class="description">The learning management system to access course syllabuses, lecture slides, course grades, and learning modules.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://schulichcareerboard.ca/home.htm" class="header" target="_blank">CareerQuest</a>
          <div class="description">The school’s job board consisting of postings, informational session sign-ups, and also the place where you book 1:1 advising sessions with the CDC. CareerQuest is soon to be phased out in favour of Handshake.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://wrem.sis.yorku.ca/Apps/WebObjects/ydml.woa/wa/DirectAction/document?name=CourseListv1" class="header" target="_blank">Course and Grade List</a>
          <div class="description"> A list of the courses you have taken and your grades. A screenshot or PDF of this will typically suffice when employers ask for an unofficial transcript.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://athena.schulich.yorku.ca/applications/exchangereports.nsf/" class="header" target="_blank">Exchange Reports</a>
          <div class="description">Exchange reports from previous students to get more insight as to student life on exchange at particular schools/countries.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="http://gradblog.schulich.yorku.ca/" class="header" target="_blank">Grad Blog</a>
          <div class="description">Blog maintained by Student Services & International Relations regarding graduate academics, scholarships, events, research, and careers.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://schulich.yorku.ca/student-life-services/international-relations/graduate-international-opportunities/" class="header" target="_blank">Grad International Opportunities</a>
          <div class="description">Information about graduate exchange terms, study tours, the Global Leadership program, the Global Work term, and contact information for the International team.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://app.joinhandshake.com/login?_ga=2.65554862.1885047328.1568571510-474836048.1568571510" class="header" target="_blank">Handshake</a>
          <div class="description">A platform to have access to job postings, information session sign-ups, some social networking features, and access to CDC resources.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://schulich.yorku.ca/myschulich/" class="header" target="_blank">MySchulich</a>
          <div class="description">The official Schulich portal to access news, information, and links to websites managed by the administration.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://oneschulich.yorku.ca" class="header" target="_blank">OneSchulich</a>
          <div class="description">Platform to discover events at Schulich.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://outlook.office365.com/owa/?realm=yorku.ca&exsvurl=1&ll-cc=1033&modurl=0" class="header" target="_blank">Schulich Email (Outlook)</a>
          <div class="description">The Schulich email platform to communicate with professors, administration, and faculty members. Sign in with your Passport York credentials.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="http://undergradblog.schulich.yorku.ca/" class="header" target="_blank">Undergrad Blog</a>
          <div class="description">Blog maintained by Student Services & International Relations regarding undergraduate academics, scholarships, events, exchange, and careers.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://schulich.yorku.ca/student-life-services/international-relations/undergraduate-international-opportunities/undergraduate-full-term-exchange/" class="header" target="_blank">Undergrad Exchange</a>
          <div class="description">Information regarding qualifications to apply for exchange, the application process, contact information for the exchange team, and destinations/schools available for exchange.</div>
        </div>
      </div>

      <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
          <a href="https://moodle.info.yorku.ca/" class="header" target="_blank">York Moodle</a>
          <div class="description">A learning management system to access course syllabuses, lecture slides, course grades, and learning modules. Typically used for York electives.</div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
