{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}- {{ course.title }}{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/basic.min.css">

<div class="ui container">
  <h1>{{ course.code }}</h1>
  <h3>{{ course.title }}</h3>
  <p>{{ course.description }}</p>

  {% if syllabus %}
    <a href="{{ syllabus.syllabus }}">Syllabus</a>
  {% else %}
    <button class="ui button" id="upload-syllabus">Upload Course Outline</button>

    <div class="ui modal" id="upload-modal">
      <i class="close icon"></i>
      <div class="header">
        {{ course.code }} Syllabus
      </div>

      {% if user.is_authenticated %}
      <form method="POST" class="dropzone" enctype="multipart/form-data" id="syllabus-form-ajax" url="{% url 'syllabus' id=course.id %}">
        {% csrf_token %}
      </form>

      <div class="actions">
        <div class="ui black deny button">
          Cancel
        </div>
        <div class="ui positive right labeled icon button" id="syllabus-submit-ajax">
          Submit
          <i class="checkmark icon"></i>
        </div>
      </div>
      {% else %}
      <a href="{% url 'login' %}?next={{request.get_full_path}}" class="item">Login</a>
      <div class="actions">
        <div class="ui black deny button">
          Close
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}

  <h1>Overall: {{ overall_average }}</h1>
  <h2>Usefulness: {{ usefulness_average }}</h2>
  <h2>Difficulty: {{ difficulty_average }}</h2>
  <h2>Instructor: {{ instructor_average }}</h2>

  <div class="ui horizontal divider">
    <h4 class="header">
      <i class="tag icon"></i>
      Instructors
    </h4>
  </div>
  {% if course.instructors %}
    {% for instructor in course.instructors %}
      <button class="ui small button">
      {{ instructor }}
      </button>
    {% endfor %}
  {% else %}
    <p>There are currently no listed instructors for this course.</p>
  {% endif %}

  <div class="class ui horizontal divider">
    <h4 class="header">
      <i class="comment icon"></i>
      Reviews
    </h4>
  </div>



  {% if reviews %}
    {% for review in reviews %}
      {% if review.anonymous == True %}
        <p>anonymous</p>
        <img src="https://media.gettyimages.com/photos/portrait-of-an-english-bulldog-picture-id164930509?s=612x612" alt="" height=100 width=100>
      {% else %}
        <p>{{ review.author.social_auth.all.0.extra_data.name }}</p>
        <img src="{{ review.author.social_auth.all.0.extra_data.picture.data.url }}" alt="">
      {% endif %}


      <p>Usefulness: {{ review.usefulness_rating }}</p>
      <p>Difficulty: {{ review.difficulty_rating }}</p>
      <p>Instructor: {{ review.instructor_rating }}</p>
      <p>Comment: {{ review.comment }}</p>
      <p>Instructor: {{ review.instructor }}</p>
      <p>Session: {{ review.taken_season }} {{ review.taken_year }}</p>
      <p>{{ review.created_at|date:"N jS, Y"  }}</p>

    {% endfor %}
  {% else %}
    <p>Unforunately, there are no reviews for this course yet</p>
  {% endif %}

  <img src="{{ review.author.social_auth.all.0.extra_data.picture.data.url }}" alt="">

  <button class="test-button">Test</button>

  <script>
    var reviews = '{{ reviews_json|safe }}'
    var reviews_json = JSON.parse(reviews)

    console.log(reviews_json)

    // conditional formatting, when the button is clicked, if the review was for Ziyao San, it will be displayed

    $(document).ready(function(){
      $(".test-button").click(function(){
        for (x in reviews_json) {
        	if (reviews_json[x].instructor == "Ziyao San") {
            if (reviews_json[x].anonymous = true) {
              $(".test-button").after(document.createElement("p").innerHTML = "Anonymous");
            } else {
              $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].author);
            }
            $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].usefulness_rating);
            $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].difficulty_rating);
            $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].instructor_rating);
            $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].comment);
            $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].instructor);
            $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].taken_year);
            $(".test-button").after(document.createElement("p").innerHTML = reviews_json[x].created_at);
            }
        }
      });
    });
  </script>

  <a href="{% url 'review' category=course.category number=course.number %}"><button>Write a Review</button></a>
</div>

  <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/course.js' %}"></script>

{% endblock content %}
