{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="ui container">
  <div class="ui four stackable cards">
    {% for category in categories %}
      <div class="card" id="category-card" onclick="window.location.href='{% url 'category' category=category.category %}'">
        <div class="image" style="object-fit: cover;">
          <img src="{% static 'img/categories/'|add:category.category|add:'.jpg' %}" alt="" onerror="this.onerror=null;this.src='{% static 'img/categories/General'|add:'.jpg' %}'">
        </div>
        <div class="content">
          <a href="{% url 'category' category=category.category %}" class="header">{{ category.category }}</a>
            <div class="meta">{{ category.category_title|truncatechars:30 }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
