{% extends 'base.html' %}

{% block content %}

<div class="ui container">
  <h1>{{ course.code }}</h1>
  <h3>{{ course.title }}</h3>

  <form method="POST" class="ui form" id="post-form">

    <h4 class="ui dividing header">General Information</h4>

    <div class="field">
      <label>Session</label>
      <div class="two fields">

        <!-- season  -->
        <div class="field">
          <div class="ui selection dropdown" id="id_taken_season">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Term</div>
            <div class="menu">
              {% for value, text in form.taken_season.field.choices %}
              <div class="item" season-value="{{ value }}">{{ text }}</div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- year -->
        <div class="field">
          <div class="ui selection dropdown" id="id_taken_year">
            <input type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Year</div>
            <div class="menu">
              {% for value, text in form.taken_year.field.choices %}
              <div class="item" year-value="{{ value }}">{{ text }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- instructor -->
      <div class="field">
        <label for="id_instructor_rating">Instructor</label>
        <div class="ui selection dropdown" id="id_instructor">
          <input type="hidden" name="taken_season">
          <i class="dropdown icon"></i>
          <div class="default text">Instructor</div>
          <div class="menu">
            {% for value, text in form.instructor.field.choices %}
            <div class="item" instructor-value="{{ value }}">{{ text }}</div>
            {% endfor %}
            <div class="item"><b>Other</b></div>
          </div>
        </div>
      </div>

      <!-- conditional instructor input field -->
      <div class="field" style="display:none;"id="other_instructor_div">
        <label>Instructor Name</label>
        <input type="text" placeholder="Who was your instructor?" id="other_instructor_text">
      </div>

      <h4 class="ui dividing header">Review</h4>

      <div class="three fields">
        <div class="field">
          <label>Usefulness</label>
          <div class="ui huge star rating" name="usefulness_rating" required id="id_usefulness_rating"></div>
        </div>

        <div class="field">
          <label>Difficulty</label>
          <div class="ui huge star rating" name="difficulty_rating" required id="id_difficulty_rating"></div>
        </div>

        <div class="field">
          <label>Instructor</label>
          <div class="ui huge star rating" name="instructor_rating" required id="id_instructor_rating"></div>
        </div>
      </div>

    <div class="field">
      <label>Comment</label>
      <textarea name="comment" required id="id_comment" cols="30" rows="10" style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;" placeholder="What did you like or dislike about this course and the professor?"></textarea>
    </div>

    <div class="field">
      <div class="ui toggle checkbox" id="id_anonymous">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Post Anonymously</label>
      </div>
    </div>

    <button class="ui button" type="submit">Post Review</button>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $('.rating').rating({
      initialRating: 0,
      maxRating: 5
    });

    $('.ui.dropdown').dropdown();

    $('.ui.checkbox').checkbox();

    $('#id_instructor').change(function() {
      if ($('#id_instructor').dropdown('get text') == "Other") {
        document.getElementById("other_instructor_div").style.display = "block";
      } else {
        document.getElementById("other_instructor_div").style.display = "none";
      }
    });

    $('#post-form').on('submit', function(event){
      event.preventDefault();
      submit_review();
    });

    function submit_review() {

      if ($('#id_anonymous').checkbox('is checked') == true) {
        anonymous = true
      } else {
        anonymous = false
      }

      if ($('#id_instructor').dropdown('get text') == "Other") {
        other_instructor = $('#other_instructor_text').val();
      } else {
        other_instructor = ""
      }

      $.ajax({
        url: "{% url 'review' category=course.category number=course.number %}",
        type: "POST",
        data: {
          taken_season: $('#id_taken_season').dropdown('get text'),
          taken_year: $('#id_taken_year').dropdown('get text'),
          instructor: $('#id_instructor').dropdown('get text'),
          other_instructor: other_instructor,
          usefulness_rating: $('#id_usefulness_rating').rating('get rating'),
          difficulty_rating: $('#id_difficulty_rating').rating('get rating'),
          instructor_rating: $('#id_instructor_rating').rating('get rating'),
          comment: $('#id_comment').val(),
          anonymous: anonymous,
          csrfmiddlewaretoken : "{{csrf_token}}"
        },
        success: function(redirect) {
          window.location.href="{% url 'course' category=course.category number=course.number %}"
        },
        error: {
          alert: 'there has been an error'
        }
      });
    };

  });
</script>




{% endblock content %}
